{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "docs/**/*.json",
      "options": {
        "parser": "json-stringify",
        "tabWidth": 4
      }
    }
  ]
}
